dist: trusty
sudo: required
addons:
  ssh_known_hosts:
  - github.com
  - git.coding.net
  apt:
    packages:
    - nasm
env:
  global:
  - TZ=Asia/Shanghai
language: node_js
node_js: node
branches:
  only:
  - master
git:
  depth: false
  submodules: false
cache:
  apt: true
  directories:
  - node_modules
before_install:
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git config --global user.name "de-conf"
- git config --global user.email "chenjiagen88@gmail.com"
- git ls-files -z | while read -d '' path; do touch -d "$(git log -1 --format="@%ct"
  "$path")" "$path"; done
- git submodule update --recursive --remote --init
- git clone --branch=master --single-branch https://github.com/de-conf/de-conf.github.io.git .deploy_git
- openssl aes-256-cbc -K $encrypted_826e24df9f33_key -iv $encrypted_826e24df9f33_iv -in hexo_deploy_key.enc -out deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 ./deploy_key
- ssh-add ./deploy_key
install: npm install
before_script: 
script:
- hexo clean
- hexo g -d
